.tablecontainer {
  width: 80vw;
  height: 100vh;
  overflow: scroll;
}

.sidebar {
  height: 100vh;
  width: 18vw;
  z-index: 1;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

footer {
  background-color: #021e27;
}

.data th {
  background-color: #057ca3;
  color: white;
}

.open-button {
  background-color: #343a40;
  color: #818181;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.open-button:hover {
  color: #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  width: 80%;
  padding: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: inline;
  padding: 2px 16px;
  background-color: #343a40;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #343a40;
  color: white;
  height: 40px;
}

tr:nth-child(odd) {
  background-color: #b9d1b4;
}
tr:nth-child(even) {
  background-color: #fff;
}

tr:hover {
  background-color: #ffff99;
}
